{{ define "main" }}

  <!-- "Hero" -->
  <section id="hero-container" class="switchable">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 col-sm-7">
            <h1 id="hero-main-text">{{ .Params.heroTagline }}</h1>
            <p class="lead">{{ .Params.heroLead }}</p>
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="home-cta-input" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
            <a href="myagi.com/signup/user#EMAILVARIABLE"><button type="submit" class="home-cta-btn btn btn--primary type--uppercase">{{ .Params.signUp }}</button></a>
          </form>
        </div>
        <div class="col-md-7 col-sm-5 col-xs-12">
          {{ partial "translated-img.html" (dict "basePath" "img/network-graphic/" "currentLang" .LanguagePrefix) }}
        </div>
      </div>
    </div>
  </section>
  <!-- End "Hero" -->

  <!-- "Partners" -->
  {{ $partnerImages := (slice "img/partner-logos/adidas.svg" "img/partner-logos/asics.svg" "img/partner-logos/fuji.svg" "img/partner-logos/wilson.svg" "img/partner-logos/new-balance.svg" "img/partner-logos/salomon.svg" "img/partner-logos/orbea.svg" "img/partner-logos/taylormade.svg" "img/partner-logos/titleist.svg")}}
  <section class="space--sm bg--secondary">
    <div class="container">
      <div class="slider slider--inline-arrows slider--arrows-hover text-center" data-arrows="true" data-timing="8000">
        <ul class="slides">
          {{ range $partnerImages }}
            <li class="col-sm-3 col-xs-6 partner-image"> <img alt="Image" class="image--s" src="{{relURL .}}"> </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>
  <!-- End "Partners" -->

  <!-- "How it works"  -->
  <section>
      {{ partial "index/section-heading.html" (dict "text" .Params.howItWorksHeading) }}
      {{ partial "index/how-it-works-part-flipped.html" (dict "heading" .Params.howItWorks1.heading "text" .Params.howItWorks1.text "baseImgPath" "img/brand-retailer-network/" "currentLang" .LanguagePrefix) }}
      {{ partial "index/how-it-works-part.html" (dict "heading" .Params.howItWorks2.heading "text" .Params.howItWorks2.text "img" (relURL "img/multi_device_demo.png" )) }}
      {{ partial "index/how-it-works-part-flipped.html" (dict "heading" .Params.howItWorks3.heading "text" .Params.howItWorks3.text "img" (relURL "img/feature-create-content.png" )) }}
      {{ partial "index/how-it-works-part.html" (dict "heading" .Params.howItWorks4.heading "text" .Params.howItWorks4.text "img" (relURL "img/analytics.png" )) }}
      {{ partial "index/how-it-works-part-flipped.html" (dict "heading" .Params.howItWorks5.heading "text" .Params.howItWorks5.text "img" (relURL "img/comms.png" )) }}
  </section>
  <!-- End "How it Works" -->

  <!-- "Key Features" -->
  <section class="text-center">
    {{ partial "index/section-heading.html" (dict "text" .Params.featuresHeading) }}
    <div class="container">
      <div class="row">
        {{ partial "index/feature-small.html" (dict "heading" .Params.feature1.heading "text" .Params.feature1.text "icon" "Network" ) }}
        {{ partial "index/feature-small.html" (dict "heading" .Params.feature2.heading "text" .Params.feature2.text "icon" "Add-File" ) }}
        {{ partial "index/feature-small.html" (dict "heading" .Params.feature3.heading "text" .Params.feature3.text "icon" "Speach-BubbleDialog" ) }}
        {{ partial "index/feature-small.html" (dict "heading" .Params.feature4.heading "text" .Params.feature4.text "icon" "Brush" ) }}
        {{ partial "index/feature-small.html" (dict "heading" .Params.feature5.heading "text" .Params.feature5.text "icon" "Medal-3" ) }}
        {{ partial "index/feature-small.html" (dict "heading" .Params.feature6.heading "text" .Params.feature6.text "icon" "Support" ) }}
      </div>
    </div>
  </section>
  <!-- End "Key Features" -->

  <!-- "Testimonials" -->
  <section>
    {{ partial "index/section-heading.html" (dict "text" .Params.partnersHeading) }}
    <div class="container">
        <div class="row">
          {{ partial "index/testimonial.html" .Params.testimonial1 }}
          {{ partial "index/testimonial.html" .Params.testimonial2 }}
          {{ partial "index/testimonial.html" .Params.testimonial3 }}
        </div>
    </div>
  </section>
  <!-- End "Testimonials" -->

  <!-- "Bottom CTA" -->
  <div class="bottom-cta bg--secondary">
    {{ partial "index/section-heading.html" (dict "text" .Params.bottomCTAHeading) }}
    <section class="text-center">
      <div class="container">
          <div class="row" id="bottom-cta-explainer-row">
            <div class="col-sm-10">
              <span class="type--fine-print">{{ .Params.bottomCTAExplainer }}</span>
            </div>
          </div>
          <div id="bottom-cta-button-row" class="row justify-content-center">
            <div class="col-sm-4">
              <a href=""><button type="submit" class="btn btn--primary type--uppercase">{{ .Params.signUp }}</button></a>
            </div>
          </div>
      </div>
    </section>
  </div>
  <!-- End "Bottom CTA" -->

{{ end }}
