Host *
    ServerAliveInterval    60
    TCPKeepAlive           yes
    # Need to add the public IP of the build machine here
    ProxyCommand           ssh 52.37.50.184 nc %h %p
    ForwardAgent           yes
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         1h
