Host gw-a
    Hostname live-gw-us-west-2a.myagi.com
    ProxyCommand none

Host gw-b
    Hostname live-gw-us-west-2b.myagi.com
    ProxyCommand none

Host *
    ServerAliveInterval    60
    TCPKeepAlive           yes
    ProxyCommand           ssh live-gw-us-west-2a.myagi.com nc %h %p
    ForwardAgent           yes
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         1h
    StrictHostKeyChecking  no
