
Host *
    ServerAliveInterval    60
    TCPKeepAlive           yes
    # Proxy commands via staging-gw-a
    ProxyCommand           ssh staging-gw-us-west-2a.myagi.com nc %h %p
    ForwardAgent           yes
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         1h
    StrictHostKeyChecking  no
