*.pyc
*.pyo
*.db
*.crt
*.key
.DS_Store
.coverage
celerybeat-schedule
celerybeat-schedule.*
celery
celery.pid
logfile
logfile.1
logfile.2
local_settings.py
local_settings_nginx.py
settings/local_settings.py
myagi/settings/local_settings.py
media/
.Python
/bin
/include
/lib
/share
/man
pip-selfcheck.json
node_modules
*.dump
npm-debug.log
test.db
