<!DOCTYPE html>
<html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{{ relURL "img/favicon.png" }}">

  <!-- Start "Main CSS" -->
    <link href="{{ relURL "css/stack-theme/bootstrap.min.css" }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ relURL "css/stack-theme/flickity.css" }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ relURL "css/stack-theme/stack-interface.css" }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ relURL "css/stack-theme/theme-tangerine.css" }}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,600" rel="stylesheet">
    <link href="{{ relURL "css/stack-theme/iconsmind.css" }}" rel="stylesheet" type="text/css" media="all" />
    <!-- .Now.Unix is a rudimentary form of cache-busting -->
    <link href="{{ relURL (print "css/site.css?" now.Unix ) }}" rel="stylesheet" type="text/css" media="all" />
  <!-- End "Main CSS" -->

  <!-- Start "Calendly widget" -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
  <!-- End "Calendly widget" -->

  <!-- Start Segment.io -->
  <script type="text/javascript">
    !(function() {
      var analytics = (window.analytics = window.analytics || []);
      if (!analytics.initialize)
        if (analytics.invoked)
          window.console &&
            console.error &&
            console.error("Segment snippet included twice.");
        else {
          analytics.invoked = !0;
          analytics.methods = [
            "trackSubmit",
            "trackClick",
            "trackLink",
            "trackForm",
            "pageview",
            "identify",
            "reset",
            "group",
            "track",
            "ready",
            "alias",
            "debug",
            "page",
            "once",
            "off",
            "on"
          ];
          analytics.factory = function(t) {
            return function() {
              var e = Array.prototype.slice.call(arguments);
              e.unshift(t);
              analytics.push(e);
              return analytics;
            };
          };
          for (var t = 0; t < analytics.methods.length; t++) {
            var e = analytics.methods[t];
            analytics[e] = analytics.factory(e);
          }
          analytics.load = function(t) {
            var e = document.createElement("script");
            e.type = "text/javascript";
            e.async = !0;
            e.src =
              ("https:" === document.location.protocol ? "https://" : "http://") +
              "cdn.segment.com/analytics.js/v1/" +
              t +
              "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(e, n);
          };
          analytics.SNIPPET_VERSION = "4.0.0";
          analytics.load("7J1dUqx29CByaRft8Im2Q2XCg4nx2759");
          // This is required to trigger some integrations (e.g. Intercom).
          // However, keep an eye on costs because in past this call has
          // resulted in a lot of anonymous users, which becomes costly.
          analytics.page();
        }
    })();
  </script>
  <!-- End Segment.io -->

  <style>
    /* Ensure elements are hidden while ScrollEntrance is loading */
    [data-entrance] { visibility: hidden; }
  </style>

</head>

<body data-smooth-scroll-offset="77">

  {{ partial "nav/main.html" . }}

  <div class="main-container">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ partial "footer/main.html" . }}

  <!-- Start Javascript -->
  <script src="{{ relURL "js/stack-theme/jquery-3.1.1.min.js"}}"></script>
  <script src="{{ relURL "js/stack-theme/flickity.min.js"}}"></script>
  <script src="{{ relURL "js/stack-theme/parallax.js"}}"></script>
  <script src="{{ relURL "js/stack-theme/smooth-scroll.min.js"}}"></script>
  <script src="{{ relURL "js/stack-theme/bootstrap.min.js"}}"></script>
  <script src="{{ relURL "js/stack-theme/scripts.js"}}"></script>
  <script src="{{ relURL "js/vendor/scroll-entrance.js"}}"></script>
  <!-- .Now.Unix is a rudimentary form of cache-busting -->
  <script src="{{ relURL (print "js/site.js?" now.Unix)}}"></script>
  <!-- End Javascript -->
</body>

</html>
