<div class="col-sm-6 col-md-4">
    <div class="testimonial testimonial-2">
      <!--div class="testimonial-image text-center">
        <img src="http://cvl-demos.cs.nott.ac.uk/vrn/queue/59b4192763dd4.jpg" />
      </div-->
        <div class="testimonial__body boxed boxed--border bg--secondary">
            <p>{{ .text }}</p>
            <div class="testimonial__image">
                <h5>{{ .name }}</h5> <span>{{ .jobTitle }}</span>
            </div>
            <a href="myagi.com/resources/{{ .url }}"><button type="submit" class=" btn type--uppercase">View Case Study</button></a>
        </div>

    </div>
</div>
