<div class="tabs-container text-center" data-content-align="left">
    <footer class="space--sm footer-2 ">
        <div class="container">
            <!-- <div class="row">
                <div class="col-sm-6 col-md-3 col-xs-6 footer-list-container">
                    <h6 class="type--uppercase">About Myagi</h6>
                    <ul class="list--hover">
                        <li>
                            <a href="/press">Press</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/pricing">Pricing</a>
                        </li>
                        <li>
                            <a href="/features">Features</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6 footer-list-container">
                    <h6 class="type--uppercase">Resources</h6>
                    <ul class="list--hover">
                        <li>
                            <a href="http://blog.myagi.com">Blog</a>
                        </li>
                        <li>
                            <a href="/resources#webinars">Webinars</a>
                        </li>
                        <li>
                            <a href="/public/sales-readiness/">Sales Calulator</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6 footer-list-container">
                    <h6 class="type--uppercase">Support</h6>
                    <ul class="list--hover">
                        <li>
                            <a href="help.myagi.com">Help Center</a>
                        </li>
                        <li>
                            <a href="/contact"/>Contact Us</a>
                        </li>
                        <li>
                            <a href="mailto:careers@myagi.com">Work With Us</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6" data-content-align="left">
                    <span class="type--fine-print">&copy;
                        <span class="update-year"></span> Myagi Inc.</span>
                    <a class="type--fine-print" href="/privacy/">Privacy Policy</a>
                    <a class="type--fine-print" href="/terms-and-conditions/">Terms & Conditions</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
</div>
