{{ define "main" }}



        <div class="main-container">
            <section class="text-center imagebg pricing" data-overlay="4">
                <div class="background-image-holder background--bottom">
                    <img alt="background" src="img/landing-3.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Pricing plans that scale with your business</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <div class="tabs-container text-center paddingTop50 pricing-page" data-content-align="left">
                <ul class="tabs">
                    <li class="active">
                        <div class="tab__title">
                            <span class="h5">Brands</span>
                        </div>
                        <div class="tab__content">
                            <section class="switchable ">
                                <div class="container">
                                    <div class="row space-around">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="switchable__text">
                                                <div class="switchable__text">
                                                    <h2>We've got you covered </h2>
                                                    <p class="lead">
                                                        Our plans cater to any company. From small businesses to large ones. We've got you covered.
                                                    </p>
                                                    <div class="testimonial testimonial-2">
                                                        <div class="testimonial__body boxed boxed--border">
                                                            <p>
                                                                <span style="font-size:20px;">“</span>The Myagi platform has revolutionised our approach to training in a very 21st century way. It provides a flexible and efficient platform for franchisees and staff to engage in training at a time convenient to them. When a new staff member comes on board we don’t need to wait for the next training seminar. We just get them online immediately and the training starts. It’s brilliant.”
                                                            </p>
                                                        </div>
                                                        <div class="testimonial__image">
                                                            <!-- <img alt="Image" src="img/avatar-round-1.png" /> -->
                                                            <h5>Jamie Cooke</h5>
                                                            <span>CEO, Drummond Golf</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-md-pull-1 col-xs-12">
                                            <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                                <h3>Professional</h3>
                                                <span class="h2">
                                                    <strong>$X</strong>
                                                </span>
                                                <span class="type--fine-print">Talk to us</span>
                                                <hr>
                                                <ul>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>24/7 Phone Support</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Brand Pages</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Surveys</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Content Analytics</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Content distribution manager</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span><b>24x7</b> Phone and Chat support — 2 hour response</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span><i>...and many more</i></span>
                                                    </li>
                                                </ul>
                                                <a class="btn btn--primary open-intercom" href="#">
                                                    <span class="btn__text">
                                                        Let's Talk
                                                    </span>
                                                </a>
                                            </div>
                                            <!--end of pricing-->
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>
                        </div>
                    </li>
                    <li>
                        <div class="tab__title">
                            <span class="h5">Retailers</span>
                        </div>
                        <div class="tab__content">
                            <section>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="pricing pricing-2 boxed boxed--border boxed--lg">
                                                <div class="col-md-6 text-center">
                                                    <h5>Basic</h5>
                                                    <span class="h1">
                                                        <span class="pricing__dollar">$</span>0</span>
                                                    <p class="type--fine-print">Per Month</p>
                                                    <a class="btn btn--primary" href="https://myagi.com/signup/user/?locale={{.Site.Language.Lang}}">
                                                        <span class="btn__text">Get started</span>
                                                    </a>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span>1 Team / Store</span>
                                                        </li>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span><b>Unlimited</b> users</span>
                                                        </li>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span>Consume brand / 3rd party content</span>
                                                        </li>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span>Basic team management</span>
                                                        </li>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span>Email support</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--end of pricing-->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="pricing pricing-2 boxed boxed--border boxed--lg">
                                                <div class="col-md-6 text-center">
                                                    <h5>Professional</h5>
                                                    <span class="h1">
                                                        <span class="pricing__dollar">$</span>X</span>
                                                    <p class="type--fine-print">Talk to us</p>
                                                    <a class="btn btn--primary open-intercom">
                                                        <span class="btn__text">Let's talk</span>
                                                    </a>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span><b>Unlimited</b> Teams / Stores</span>
                                                        </li>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span>API access</span>
                                                        </li>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span>Automated "Smart" enrolment</span>
                                                        </li>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span><b>24x7</b> Phone and Chat support — 2 hour response</span>
                                                        </li>
                                                        <li>
                                                            <span class="checkmark bg--primary-1"></span>
                                                            <span><i>...and many more</i></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--end of pricing-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end of tabs container-->
            


{{ end }}